/* Archivo principal de estilos */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
/* Importa los estilos de react-big-calendar si es necesario */
@import "react-big-calendar/lib/css/react-big-calendar.css";

/* Estilos personalizados para el cuerpo de la página */
body {
  font-family: 'Inter', sans-serif;
  color: #e5e7eb; /* Color de texto claro */
  background: #111827; /* Fondo oscuro */
  background-attachment: fixed;
}

/* Estilo para la barra de desplazamiento (opcional, para una mejor estética) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
